{#
Agentum System Prompt
=====================
#}
{% include 'modules/identity.j2' %}

{% include 'modules/security.j2' %}

{% include 'modules/execution.j2' %}

{% include 'modules/tools.j2' %}

{% include 'modules/output.j2' %}

{% include 'modules/skills.j2' %}
